{% extends "scrum/base_project.html" %}
{% from "bootstrap/forms/macros.html" import field %}

{% block main_content %}
  {% if project %}
    <h1>Edit <a href="{{ url('scrum_project', project.slug) }}">{{ project.name }}</a></h1>
  {% else %}
    <h1>Create Project</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path() }}"
        class="form-horizontal"
        method="post"
        id="project_form_{{ 'edit' if project else 'create' }}">
    {{ csrf() }}
    {% for f in form %}
      {{ field(f) }}
    {% endfor %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ 'Update' if project else 'Create' }}</button>
      <a href="{% if project %}{{ project.get_absolute_url() }}{% else %}{{ url('scrum_projects_list') }}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.7/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
  <script type="text/javascript">
    var bz_product_choices = {{ bz_product_choices|safe }};
    $("#id_product").typeahead({source: bz_product_choices, items: 10});
    $('#id_name').on('keyup', function(){
        $('#id_whiteboard_name').val($(this).val().replace(/\s+/g,'-').replace(/[^a-zA-Z0-9.\-]/g,'').toLowerCase());
    });
  </script>
{% endblock %}
